.main-slider {
    position: relative;
    margin: 0 78px 135px;
    
    @media (max-width: 768px) {
        margin: 0 0 135px;
    }
    
    &__wrapper {
        overflow: hidden; 
    }
    
    &__list {
        position: relative;
        display: flex;
        transition: left 0.5s;
    }

    &__item {
        display: flex;
        min-width: 100%;
        color: #fff;
        
        @media (max-width: 768px) {
            display: block;
        }
    }

    &__item-wrapper {
        width: 78%;
        
        @media (max-width: 768px) {
            width: auto;
        }
    }

    &__slide-title {
        margin: 0 0 7px;
        font-weight: 700;
        font-size: 55px;
        
        @media (max-width: 768px) {
            font-size: 35px;
        }
    }

    &__slide-text {
        margin: 0 0 44px 5px; 
        width: 60%;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        
        @media (max-width: 768px) {
            width: auto;
        }
    }

    &__btn {
        margin: 0 0 0 4px;
    }

    &__img {
        margin: 77px 0 0;
        width: 150px;
        height: 120px;
        
        svg {
            height: 100%;
            fill: #fff;
        }
    }

    &__controls {
        position: absolute;
        top: 77px;
        right: -250px;
        
        @media (max-width: 1024px) {
            right: 80px;
        }
        
        @media (max-width: 768px) {
            top: auto;
            right: 0;
            bottom: 0;
        }
    }
    
    &__controls-btn {
        display: block;
        margin: 0 1px 12px;
        width: 19px;
        height: 22px;
        background-image: url("../img/slide-pagination.png");
        background-repeat: no-repeat;
        transition: opacity 0.3s;
        
        &:hover {
            opacity: 0.5;
        }

        &.js-active {
            margin: 0 0 10px;
            background-image: url("../img/slide-pagination-active.png"); 
            cursor: auto;
            
            &:hover {
                opacity: 1;
            }
        }
    }
}