.page-footer {
    position: relative;
    padding: 54px 0 0;
    background: $color_black1;

    &__inner {
        display: flex;
        margin: 0 auto 43px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            margin: 0 auto 130px;
        }
    }

    &__twitter {
        margin: 3px 105px 0 0;

        @media (max-width: 768px) {
            order: 1; 
            margin: 0;
        }
    }

    &__navigation {
        width: 65%;

        @media (max-width: 768px) {
            margin: 0 0 40px;
            width: auto;
        }
    }

    &__group-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            display: block;
        }
    }

    &__group-item {
        width: 210px;
        text-transform: uppercase;

        @media (max-width: 1500px) {
            width: auto;
        }

        @media (max-width: 768px) {
            margin: 0 0 20px;
        }
    }
    
    &__group-title {
        position: relative;
        margin: 0 0 15px;
        padding: 0 0 0 16px;
        font-weight: 700;
        font-size: 15px;
        color: $color_orange;

        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 1px;
            width: 9px;
            height: 10px;
            background-image: url("../img/slide-pagination-active.png");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__link-item {
        margin: 0 0 8px;
    }

    &__link {
        display: flex; 
        font-weight: 300;
        font-size: 14px; 
        color: #fff;

        &[href]:hover {
            color: $color_orange;
        }
    }

    &__link-name {
        margin: 0 15px 0 0;
    }

    &__link-value {
        text-transform: lowercase;
    }

    &__copyright {
        padding: 11px 0;
        background: $color_black2;
    }

    &__copyright-text {
        text-align: center;
        font-family: 'Raleway', serif;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.4px;
        color: $color_gray4;
    }

    &__copyright-img {
        display: inline-block;
        vertical-align: top;
        width: 9px;
        height: 10px;
        background-image: url("../img/slide-pagination-active.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__logo {
        position: absolute;
        bottom: 60px;
        right: 33px;
        width: 75px;
        height: 86px;
        transition: opacity 0.5s;

        @media (max-width: 768px) {
            bottom: 50px;
            right: calc(50% - 37.5px);
        }

        &:hover {
            opacity: 0.7;
        }
    }
}