.spotlight {
    padding: 108px 0 115px;
    overflow: hidden;

    
    @media (max-width: 768px) {
        padding:  50px 0 60px;
    }

    &__inner {
        display: flex;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 8.56% 0 10%;

        
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__wrapper {
        margin: 0 110px 0 0;
        padding: 99px 0;
        width: 470px;

        
        @media (max-width: 768px) {
            margin: 0;
            padding: 0 0 50px;
            width: auto;
        }
    }

    &__title {
        margin: 0 0 9px;
        font-weight: 700;
        font-size: 40px;
        color: $color_blue;
    }

    &__text {
        margin: 0 0 29px 4px;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        color: $color_gray1;
    }

    &__btn {
        margin: 0 0 0 3px;
        padding: 19px 49px;
    }

    &__video-wrapper {
        align-self: center;
        flex-grow: 1;
        cursor: pointer;

        @media (max-width: 768px) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}