$color_black:       #000;
$color_black1:      #363636;
$color_black2:      #252525;

$color_orange:      #ff8b00;

$color_blue:        #7050e5;
$color_blue1:       #5634d1;

$color_gray:        #f8f8f8;
$color_gray1:       #878787;
$color_gray2:       #999;
$color_gray3:       #555;
$color_gray4:       #9b9b9b;